@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/index_content.css" />
<link rel="stylesheet" type="text/css" href="~/css/index_footer.css" />

<div class="text-center">
    <div class="advertisement">
        <img class="advertisement_banner" src="~/Images/advertisement_banner_1.png" /><br />
        <img class="advertisement_banner" src="~/Images/advertisement_banner_2.png" /><br />
        <img class="advertisement_banner" src="~/Images/advertisement_banner_3.png" /><br />
        <br />
    </div>
    <div class="index_footer">
        <div class="contact_us">
            <h6>Contact Us</h6>
            <a href="https://www.facebook.com">
                <img class="social_media_icon" src="~/Images/facebook_icon.png" />
            </a>
            <a href="https://twitter.com">
                <img class="social_media_icon" src="~/Images/twitter_icon.png" />
            </a>
            <a href="https://www.instagram.com">
                <img class="social_media_icon" src="~/Images/instagram_icon.png" />
            </a>
            <br /><br />
        </div>
    </div>
</div>
